<div class="menu d-none d-md-flex flex-row justify-content-end w-100 mt-3">
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.1s" routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }">Home
  </a>
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.2s" routerLink="/about-me" routerLinkActive="underline">About me
  </a>
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.4s" routerLink="/experience" routerLinkActive="underline">Experience & Projects
  </a>
  <a  class="btn ml-2 mr-4 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.6s" routerLink="/contact" routerLinkActive="underline">Contact me
  </a>
</div>
<!--Less than 768px width  nav-bar-->
<div class="menu d-flex d-md-none flex-row justify-content-center w-100 mt-2">
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.1s" routerLink="/" routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }">
    <i class="fa fa-2x fa-home"></i>
  </a>
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.2s" routerLink="/about-me" routerLinkActive="underline">
    <i class="fa fa-2x fa-user"></i>
  </a>
  <a  class="btn mx-2 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.4s" routerLink="/experience" routerLinkActive="underline">
    <i class="fa fa-2x fa-briefcase"></i>
  </a>
  <a  class="btn ml-2 mr-4 hvr-underline-from-center animated wow bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.6s" routerLink="/contact" routerLinkActive="underline">
    <i class="fa fa-2x fa-envelope"></i>
  </a>
</div>
