<div class="contact-section vh-100">
  <div class="container h-100 d-flex flex-column justify-content-center">
    <mat-card class="shadow">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <i class="fas fa-5x fa-envelope"></i>
        <p class="mail mb-0">ismail.dinar@insat.u-carthage.tn</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center my-5">
        <i class="fas fa-5x fa-phone-square-alt"></i>
        <p class="mail mb-0">90 384 082</p>
      </div>
      <div class="wrapper h-auto mb-5 d-flex flex-row justify-content-center">
        <a href="https://www.linkedin.com/in/ismail-dinar-9bb312176/" target="_blank"><i
          class="fab fa-5x fa-linkedin"></i></a>
        <a href="https://www.github.com/IsmailDinar" target="_blank"><i class="fab fa-5x fa-github-square"></i></a>
        <a href="https://www.facebook.com/smail.dinar.96" target="_blank"><i
          class="fab fa-5x fa-facebook-square"></i></a>
        <a href="https://twitter.com/DinaR_Sm41L" target="_blank"><i class="fab fa-5x fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/dinar_ismail/" target="_blank"><i class="fab fa-5x  fa-instagram"></i></a>
      </div>
    </mat-card>
  </div>
</div>
