<div class="about-section vh-100">
  <div class="container d-flex align-items-center h-100">
    <div class="row justify-content-center">
      <div class="offset-md-1 col-md-10 col-sm-6">
        <div class="serviceBox animated wow zoomIn">
          <div class="service-icon"></div>
          <div class="service-content">
            <h3 class="title"></h3>
            <p class="description px-md-5">
              <span class="text-uppercase">Ismail Dinar</span> was born in Tunis, Tunisia, on July 4, 1996. He is
              currently a fifth year undergraduate student at National Institute of Applied Science and Technology. He is
              passionate about web technologies and development. In his free time, Ismail enjoys playing video games
              and watching youtube videos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
