.home-section{
  background-image: linear-gradient(45deg, rgba(255,199,25, 0.5), rgba(191,3,59, 0.9)), url("/assets/img/me.JPG");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}
::ng-deep .gradient-tooltip {
  background: linear-gradient(45deg, rgba(247,183,51,0.5) 0%, rgba(252,74,26,0.7) 100%);
}
@media (max-width: 768px) {
  .display-2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

