<div class="experience-section" id="experience">
  <div class="container vh-100">
    <div class="row h-100 mt-5 mt-lg-0 d-flex align-items-center">
      <div class="col-md-12">
        <h1 class="text-effect my-5 ">Experience</h1>
        <div class="main-timeline">
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2019</span>
              <div class="content">
                <h3 class="title">Summer intern at Be wireless solutions</h3>
                <p class="description">
                  As an intern, my job was to develop a full-stack application using Angular, Java EE and MySQL. This application, was mainly developed to allow the  management and monitoring of an IoT smart lighting system.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2018</span>
              <div class="content">
                <h3 class="title">Summer intern at Tunisie Telecom</h3>
                <p class="description">
                  My internship took place in the Service Operation Center where I acquired  knowledge about the networks of Tunisie Télécom and their architectures as well as the techniques and the tools deployed to supervise these networks.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="content">
                <h3 class="title">Technical manager at Securinets</h3>
                <p class="description">
                  As a technical manager, my task was to teach people how to develop a facial recognition application using c# and EmguCV.
                </p>
              </div>
            </a>
          </div>
        </div>
        <h1 class="text-effect my-4">Projects</h1>
        <div class="main-timeline">
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2019</span>
              <div class="content">
                <h3 class="title">Development of an IoT node (based on STM32) compatible with Amazon Alexa</h3>
                <p class="description">
                  During my fourth year at INSAT, I had the great opportunity to take part in an interesting project. In fact, my colleagues and I implemented an IoT node that allows users to request information (read by the node's sensors such as temperature, pressure, humidity...) through Amazon Alexa.
                  The project was a great opportunity to discover embedded systems and amazon services.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2019</span>
              <div class="content">
                <h3 class="title">Autoclub INSAT website</h3>
                <p class="description">
                  It is a website where Autoclub INSAT presents its activities and events.
                  This project was developed using Angular and Firebase.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2018</span>
              <div class="content">
                <h3 class="title">Development of an e-commerce website</h3>
                <p class="description">
                  As an end of semester project, we had to develop a full stack e-commerce website using Angular and Spring Boot. This was my first ever web project and I am really proud of myself for what I have accomplished through this project.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
